<% include partials/header.ejs %>
<% include partials/search-bar.ejs %>

<div class="container mt-5">
  <h1>Lista de produtos</h1>

  <%if (typeof items != "undefined") { %>
  <ul>
    <% for(var i=0; i<items.length; i++) {%>
    <li class="product-item" data-id="<%= items[i].id %>">
      <a class="product-item-inner-container" href="items/<%= items[i].id %>">
        <img class="product-item-picture" src="<%= items[i].picture %>" alt="<%= items[i].title %>">
        <p class="product-item-description"><%= items[i].title %></p>
        <p class="product-item-local"></p>
      </a>
    </li>
    <% } %>
  </ul>
  <% } %>


</div>

<% include partials/footer.ejs %>